@import "tailwindcss";

*::-webkit-scrollbar {
     width: 5px;
}

* ::-webkit-scrollbar-thumb {
     background-color: #1971c2;
}

*::-webkit-scrollbar-track {
     background: white;
}

th,
tr,
table,
td {
     text-align: center !important;

}

.container-table {
     max-height: 550px !important;
     overflow-y: auto;
}

.table-raport {
     background: white;
     color: black;

     th,
     tr,
     table,
     td {
          text-align: center !important;
          border: 1px solid black;
          border-collapse: collapse;
     }
}

.limit-w {
     text-wrap: wrap;
}