@import "tailwindcss";

*::-webkit-scrollbar {
     width: 3px;
}

* ::-webkit-scrollbar-thumb {
     background-color: #1971c2;
}

th,
tr,
table,
td {
     text-align: center !important;

}

.table-raport {
     background: white;
     color: black;

     th,
     tr,
     table,
     td {
          text-align: center !important;
          border: 1px solid black;
          border-collapse: collapse;
     }
}

.limit-w {
     text-wrap: wrap;
}